/* BODY */

body {
    background-color: #f2e2c7 !important;
}

div.section {
    padding: 100px;
}

/* TEXT */

h1 {
    font-family: 'Roboto', sans-serif !important;
    color: #8b9487 !important;
    font-size: 48px !important;
    font-weight: 700 !important;
}

h5 {
    font-family: 'Roboto', sans-serif;
    color: #d1a380;
    font-size: 24px !important;
    font-weight: 700 !important;
}

p{
    font-family: 'Roboto', sans-serif;
    color: #ADA07C !important;
    font-size: 12px !important;
    font-weight: 300 !important;
    text-align: left;
}

b{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700 !important;
}


p.smallertext{
    color: white;
    font-size: 8px;
    font-weight: 300;
    text-align: left;
}

/* IMAGES 

img.icon{
width: 80%;
margin-top: 5px;
margin-bottom: 10px;
}

/* DIVS + FORMAT STUFF */


.line{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    background: #ADA07C; 
}

a.hyprtxt{
    color: crimson;
    font-weight: 300;
}

a.drop {
    font-family: 'Roboto', sans-serif;
    color: #FF5D5D;
    font-size: 12px;
    font-weight: 700;
    margin: 10px;
}

a.btn{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    border: 0px;
    color:white;
    background:#FFC66C;
}

a.btn-change{
    -webkit-transition: all 0.1s ease-in-out;
}
a.btn-change:hover{
    -webkit-transform: scale(1.1);
    background: #FF5D5D;
    color: white;
}

th{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
td{
    padding-right: 40px;
    color: rosybrown;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

#righthalf{
    padding-left: 50%;
}

.right{
    text-align-last: right !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

/* YOUR CSS STYLES */

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 110%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.containera {
    display: flex;
    align-items: flex-end;
}

.node circle {
    fill: #FF5D5D;
    stroke: #FF5D5D;
    stroke-width: 3px;
}

.node text {
    color: #FF5D5D;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.link {
    fill: none;
    stroke: #FF5D5D;
    stroke-width: 2px;
}

#responsive-map {  
    width: 100%;
    height: auto; 
} 

.responsive-image {  
    width: 100%;
    height: auto; 
} 

.parallax {
    /* The image used */
    background-image: url("/assets/image/miso.jpg");

    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-secondary {
    background-color: #8b9487 !important;
    border: none !important;
    height: 30px;
}
